{% extends 'blog/base.html' %}

{% block conteudo %}        

<section>
		<form method="POST" action="{% url 'register' %}" class="post-form form-register">
			{% csrf_token %}
			{{ form.username.label_tag }}
			{{form.username.errors}}    
			{{ form.username }}
			
			{{ form.email.label_tag }}
			{{form.email.errors}}
			{{ form.email }}


			{{ form.password1.label_tag }}
			{{form.password1.errors}}
			{{ form.password1 }}

			{{ form.password2.label_tag }}
			{{form.password2.errors}}
			{{ form.password2 }}

			<input type="submit" />
		</form>
</section>

{% endblock %}